html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  background-image: url("/img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  position: relative;
  padding: 10rem;
  color: #ffffff;
  min-height: 100%;
}
